<div class="container_big_card">

    <div class="big_card_photo">
        <img src="https://imageio.forbes.com/specials-images/imageserve/63600220295903240c876e05/0x0.jpg?format=jpg&height=600&width=1200&fit=bounds" 
        alt=""
        height="200px">
    </div>
    <div class="big_card_title">
        <h1><a href="#">Saiu a nova versão do Angular</a></h1>
    </div>
    <div class="big_card_description">
        <p>
            <a href="#">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus maiores unde optio, aliquam, 
            laborum laboriosam autem molestiae aliquid numquam consectetur nisi deserunt mollitia possimus, 
            quia animi excepturi minus qui nesciunt?
            </a>
        </p>
    </div>
</div>
