<div class="container_small_card">
    <div class="container_small_card_content">
        <div class="small_card_photo">
            <img src="https://p2.trrsf.com/image/fget/cf/774/0/images.terra.com/2023/10/29/1451612854-8ffe78addae85f28880875f37957b143.png" 
            alt=""
            height="120px">
        </div>

        <div class="small_card_title">
            <h1><a href="#">Saiu a nova versão do Angular</a></h1>
        </div>
    </div>
    <div class="container_small_card_separator">
        <hr/>
    </div>
</div>